name: Matrix Demo
on: push
jobs: 
  build:
    strategy:
      matrix:
        node-version: [12, 14, 16]
        operation-system: [ububtu-latest, windows-latest]
        include:
          - node-version: 18
            operating-system: ubuntu-latest
        exclude:
          - node-version: 12
            operating-system: windows-latest
    runs-on: ${{ matrix.operation-system }}
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install NodeJs
        uses: actions/setup-node@v3
        with: 
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name:
        run: npm run build